@import 'media-queries';
.navbar{
  background: #fff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  z-index: 999;
  position: relative;



&_logo{
  margin-left: 10px;
}

&_bars{
  opacity: 0;
  
  @include tablet{
    color: #000;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}

&_menu{
  display: flex;
  text-align: center;
  list-style: none;
  margin-right: 24px;

  @include tablet{
    display: none;
  }

&_links{
  color: #000;
  text-decoration: none;
  padding: 0 1rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

&:hover{
  color: rgb(82, 82, 194);
  transition: all 0.3s ease;
}
}
#button{
  margin-top: 10px;
  width: 150px;
  height: 50px;
  border: 1px solid #000;
  outline: none;
  border-radius: 4px;
  background: #000;
  color: #fff;
  margin-left: 16px;

}
}
}