@import 'navbar';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//hero section
.hero{
  background: url(../images/background-img.svg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

&_container{
  width: 500px;
  color: #fff;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

&_btn{
  position: relative;
  font-size: 1rem;
  background: #000;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
&_btn a{
  position: relative;
  color: #fff;
  text-decoration: none;
  z-index: 2;
}

@include mobile{
  width: 100%;
  h1{
    margin: 0 15px;
    font-size: 1.3rem;
  }
}

}

}